{% extends 'admin/admin.html' %}
{% block data %}
<div id="article-edit" class="well well-small clearfix">
    <div>
        {% if id %}
        <h3>文章编辑: {{name}}</h3>
        {% else %}
        <h3>新增文章</h3>
        {% endif %}
    </div>
    <div>
	    <table class="table table-dashed">
	        <tbody>
	            <tr>
	                <td width="10%">文章标题: </td>
	                <td colspan="5">
	                    <input  name="name" class="span11" value="{{name}}" />
	                    <i class="icon-star-empty"></i>
	                </td>
	            </tr>
	            <tr>
	                <td>文章内容 </td>
	                <td colspan="5">
	                    <textarea name="content">{{content|raw}}</textarea>
	                </td>
	            </tr>
	
	        </tbody>
	    </table>
	    <div class="operate-footer scroll-bottom">
	        <button class="btn btn-primary save">保存</button>
	        <button class="btn back">返回</button>
	        <input type="hidden" name="id" value="{{id}}" />
	    </div>
    </div>
</div>
{% endblock %}