{% extends 'admin/admin.html' %}
{% block data %}
<div id="awards-edit" class="well well-small clearfix">
    <div><h3>抽奖编辑</h3></div>
    <div>
        <table class="table table-dashed">
            <tbody>
                <tr>
                    <td width="10%">标题: </td>
                    <td><input type="text" name="title" value="{{data.title}}" class="span10"/></td>
                </tr>
                <tr>
                    <td>详情：</td>
                    <td><textarea name="content">{{data.content}}</textarea></td>
                </tr>
                <tr>
                    <td>中奖用户：</td>
                    <td>
                        <ul class="inline">
                            {% for val in users %}
                                <li class="J-have-user-{{val.id}} awards-user-li">{{val.user_name}}<button class="btn btn-link remove-user" data-id="{{val.id}}" title="去掉此人"><i class="icon-remove"></i></button></li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="muted" colspan="4">
                        Tips:<br/>
                        1.已经选择的会员不会被再次查询出来。<br/>
                        2.用户显示规则为：有备注的首先显示备注名，没有备注的显示用户名。<br/>
                        3.<span class="text-error">请先点击保存，再点击发布。</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="search bb5 form-inline">
            <select name="type" class="span2">
                <option value="">---用户类型---</option>
                <option value="0" {% if search.type == '0' %}selected{% endif %}>关注好友</option>
                <option value="1" {% if search.type == 1 %}selected{% endif %}>体验好友</option>
                <option value="2" {% if search.type == 2 %}selected{% endif %}>会员</option>
                <option value="3" {% if search.type == 3 %}selected{% endif %}>创始会员</option>
            </select>
            <input type="text" name="name" class="span2" placeholder="备注名/用户名/编号" value=""/>
            <button class="btn btn-primary search">查询</button>
        </div>
        <div class="row-fluid show-grid user-show-body">
            <div class="span6 user-show">
                <h5 class="text-center">选择参加活动的用户</h5>
                <ul class="inline J-all-user-show"></ul>
            </div>
            <div class="span6 user-show">
                <h5 class="text-center">已选择的用户(<span class="J-selected-user-num"></span>人)</h5>
                <ul class="inline J-selected-user-show"></ul>
            </div>
        </div>
        <div class="operate-footer scroll-bottom">
            <input type="hidden" name="id" value="{{data.id}}" />
            <button class="btn btn-primary save">保存</button>
            <button class="btn btn-danger perform">发布</button>
            <button class="btn back">返回</button>
            <button class="btn btn-danger del-awards">删除</button>
        </div>
    </div>
    <script type="text/template" id="tpl-user-li">
        <% _.each(data, function(item) { %>
        <li>
            <button class="btn btn-link clearfix J-adduser-select J-<%= item.id%>" data-id="<%= item.id%>"><%= item.nickname.length>0?item.nickname:item.name %>  <i class="icon-arrow-right pull-right J-adduser-i"></i></button>
        </li>
        <% }); %>
    </script>
</div>
{% endblock %}