{% extends 'admin/admin.html' %}
{% block data %}
<div id="awards-list" class="well well-small clearfix">
    <div>
        <h3>抽奖管理</h3>
    </div>
    <div class="search bb5">
        <form name="form-search" method="post" class="form-inline" action="/admin/awards/index/">
            <input type="text" name="title" class="span3" placeholder="标题" value="{{search.title}}"/>
            <input type="text" name="date" class="span3" placeholder="创建时间：XXXX-XX-XX" value="{{search.date}}"/>
            <button class="btn btn-primary search">查询</button>
        </form>
    </div>
    <div>
        <button class="btn span2 btn-small btn-success add-awards">新增抽奖</button>
    </div>
    <table class="table table-hover table-mob">
    <thead>
        <tr>
            <th width="5%">#</th>
            <th width="25%">标题</th>
            <th width="35%" class="text-left">详情描述</th>
            <th width="10%">创建时间</th>
            <th width="10%">状态</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    {% for key, item in data.awards %}
        <tr>
            <td class="center">{{loop.index}}</td>
            <td class="center">{{ mb_substr(item.title, 0, 20,'utf-8') }} </td>
            <td class="td-details">{{  mb_substr(item.content, 0, 150,'utf-8') }}</td>
            <td class="center">{{ item.created | date('Y-m-d') }}</td>
            <td class="center">
                {% if item.perform==1 %}
                    <span class="label label-success">已发布</span>
                {% else %}<span class="label">未发布</span>
                {% endif %}
            </td>
            <td>
                <div class="btn-group hide">
                    {% if item.perform!=1%}
                        <a class="btn btn-link btn-small" href="/admin/awards/edit/?id={{key}}"><i class="icon-edit"></i> 编辑</a>
                        <button class="btn btn-link btn-small del" data-id="{{key}}"><i class="icon-trash"></i> 删除</button>
                    {% else %}
                        <a class="btn btn-link btn-small" href="/admin/awards/edit/?id={{key}}"><i class="icon-asterisk"></i> 设置</a>
                    {% endif %}
                </div>
            </td>
        </tr>
    {% else %}
        <tr><td colspan="6"><em> 哎呀， 么有数据，不如添加一条吧.</em></td></tr>
    {% endfor %}
    </tbody>
    </table>
    {{pagination|raw}}
    <div id="addModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>新增抽奖</h3>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">标题： </label><input type="text" name="title" class="span9"/> <i class="icon-star-empty"></i>
                </div>
                <div class="control-group">
                    <label class="control-label">详情： </label><textarea name="content"/></textarea> <i class="icon-star-empty"></i>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary save">保存</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        </div>
    </div>
</div>
{% endblock %}
