{% extends 'admin/admin.html' %}
{% block data %}
<div id="category-list" class="well well-small clearfix">
    <div>
        <h3>商品分类管理</h3>
    </div>
    <table class="table table-hover table-mob">
    <thead>
        <tr>
            <th width="5%">#</th>
            <th width="55%">分类名称</th>
            <th width="10%">是否推荐</th>
            <th>
            &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
    {% for key, item in data[0] %}
        <tr class="s-{{key}}">
            <td class="center">{{loop.index}}</td>
            <td><i class="parent{% if data[key] | length > 0 %} icon-plus{% else %} icon-minus{% endif %}" data-id="{{key}}"></i> {{item.name}}</td>
            <td class="center"><span class="label{% if item.recommend %} label-success{% endif %}">推荐</span></td>
            <td>
                <div class="btn-group hide">
                    <button class="btn btn-link btn-small add" data-id="{{key}}" data-name="{{item.name}}"><i class="icon-plus"></i> 新增子分类</button>
                    <button class="btn btn-link btn-small edit" data-id="{{key}}"><i class="icon-edit"></i> 编辑</button>
                    <button class="btn btn-link btn-small sort" data-id="{{key}}"><i class="icon-align-right"></i> 排序</button>
                    <button class="btn btn-link btn-small del" data-id="{{key}}"><i class="icon-remove"></i> 删除</button>
                </div>
            </td>
        </tr>
        {% for k, v in data[key] %}
        <tr class="child c-{{key}} s-{{k}} hide dashed">
            <td>&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;{{loop.index}}. {{v.name}}</td>
            <td class="center"><span class="label{% if v.recommend %} label-success{% endif %}">推荐</span></td>
            <td>
                <div class="btn-group hide">
                    <button class="btn btn-link btn-small edit" data-id="{{k}}"><i class="icon-edit"></i> 编辑</button>
                    <button class="btn btn-link btn-small del" data-id="{{k}}"><i class="icon-remove"></i> 删除</button>
                </div>
            </td>
        </tr>
        {% endfor %}
    {% else %}
        <tr><td colspan="4"><em> 哎呀， 么有数据，不如添加一条吧.</em></td></tr>
    {% endfor %}
    </tbody>
    </table>

    <div>
        <button class="btn span2 btn-small btn-success add">新增一级分类</button>
        <button class="btn span2 btn-small sort">一级分类排序</button>
    </div>

    <div id="categoryModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>商品分类</h3>
        </div>
        <div class="modal-body">
            加载中...
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        </div>
    </div>
    <script type="text/template" id="tpl-category">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <% if (data.id) { %>
            <h3>商品分类编辑</h3>
            <% } else { %>
            <h3>新增商品分类</h3>
            <% } %>
        </div>
        <div class="modal-body">
            <div class="text-right"> <em><i class="icon-star-empty"></i> 为必填项</em> </div>
            <div class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="inputPid">所属分类: </label>
                    <div class="controls">
                        <span><%= data.pname || '顶级分类' %></span>
                    </div>
                    <input type="hidden" name="pid" value="<%= data.pid %>" />
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputName">名称: </label>
                    <div class="controls">
                        <input type="text" id="inputName" name="name" value="<%= data.name %>"/>
                        <i class="icon-star-empty"></i>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" id="inputRecommend" name="recommend" value="1"<% if (!_.isEmpty(data.recommend) && data.recommend != '0') { %> checked="checked" <% } %> /> 推荐
                        </label>
                    </div>
                </div>
                <input type="hidden" name="id" value="<%= data.id %>" />
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary save">保存</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        </div>
    </script>

    <div id="sortModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>商品分类排序</h3>
        </div>
        <div class="modal-body">
            加载中...
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary save">保存</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        </div>
    </div>
    <script type="text/template" id="tpl-sort">
        <div class="form-horizontal">
            <% _.each(data, function(item) { %>
            <div class="control-group">
                <label class="control-label" for="p-<%= item.id %>"><%= item.name %>: </label>
                <div class="controls" id="p<%= item.id %>">
                    <input name="sort" value="<%= item.sort %>" data-id="<%= item.id %>" />
                </div>
            </div>
            <% }); %>
        </div>
    </script>
</div>
{% endblock %}
