{% extends 'admin/admin.html' %}
{% block data %}
<div id="delivery-see" class="well well-small clearfix">
    <div>
        <h3>配送单查看</h3>
    </div>
    <div>
        <table class="table table-dashed">
            <tbody>
                <tr>
                    <td width="10%">单号: </td>
                    <td width="23%">{{data.sn}}</td>
                    <td width="10%">箱数:</td>
                    <td width="23%"><span class="star">{{ data.num }}</span></td>
                    <td width="10%">状态:  </td>
                    <td>{{data.status}}</td>
                </tr>
                <tr>
                	<td>下单人:</td>
                    <td>{{ data.user.name }}-{{str_pad(data.user_id,7,'0',STR_PAD_LEFT)}}</td>
                	<td>下单时间:</td>
                    <td>{{ data.created }}</td>
                    <td>预约时间: </td>
                    <td>{{data.shipping_time | date ('Y-m-d H:i')}}</td>
                </tr>
                <tr>
                    <td>备注: </td>
                    <td colspan="5">{{data.remark}}</td>
                </tr>
                <tr>
                   	<td>收货人: </td>
                    <td>{{ data.consignee }}</td>
                    <td>电话: </td>
                    <td colspan="3">{{ data.mobile }}</td>
                </tr>
                <tr>
                   	<td>收货地址: </td>
                    <td colspan="5">{{ data.to_addr }} {{ data.address }}</td>
                </tr>
                <tr>
                   	<td>客户留言: </td>
                    <td colspan="5">{{ data.comment }}</td>
                </tr>
                <tr>
                	<td>配送方式: </td>
                    <td>{% if data.type==1 %}物流{% elseif data.type==2 %}自己 {% endif %}</td>
                    <td>签单时间: </td>
                    <td colspan="3">
	                    {% if(data.sign_time > 0 ) %}
	                    	{{ data.sign_time | date ('Y-m-d H:i') }}
	                    {% endif %}
                    </td>
                </tr>
                <tr>
                	<td>配送结果: </td>
                    <td colspan="5">{% if data.result_status==1 %}配送成功 {% elseif data.result_status=='0' %}<span class="star">配送失败</span>{% endif %}</td>
                </tr>
				<tr>
                   	<td>结果说明: </td>
                    <td colspan="5">{{ data.result_comment }}</td>
                </tr>
            </tbody>
        </table>
        <div class="operate-footer scroll-bottom">
            <button class="btn back">返回</button>
            <input type="hidden" name="id" value="{{data.id}}" />
        </div>

    </div>

</div>
{% endblock %}
