{% extends 'admin/admin.html' %}
{% block data %}
<div id="delivery-comment" class="well well-small clearfix">
    <div>
        <h3>配送结果备注</h3>
    </div>
    <div>
        <table class="table table-dashed">
            <tbody>
                <tr>
                    <td width="10%">单号: </td>
                    <td width="23%">{{data.sn}}</td>
                    <td width="10%">箱数:</td>
                    <td width="23%"><span class="star">{{ data.num }}</span></td>
                    <td width="10%">状态:  </td>
                    <td>{{data.status}}</td>
                </tr>
                <tr>
                    <td>备注: </td>
                    <td colspan="5">
                    	<div class="remark-show">
                    		<span>{{data.remark}}</span>
                    		<button class="btn btn-link b-remark-edit" title="修改"><i class="icon-edit"></i></button>
                    	</div>
                    	<div class="remark-edit hide">
	                    	<textarea name="remark">{{data.remark}}</textarea>
	                    	<div class="text-right span11">
	                    		<button class="btn btn-primary b-remark-save" data-id="{{data.id}}">保存</button>
	                    		<button class="btn b-remark-cancel">取消</button>
	                    	</div>
                    	</div>
                    </td>
                </tr>
                <tr>
                	<td>下单时间:</td>
                    <td>{{ data.created }}</td>
                    <td>要求时间: </td>
                    <td colspan="3">{{data.shipping_time | date ('Y-m-d H:i')}}</td>
                </tr>
                <tr>
                   	<td>收货人: </td>
                    <td>{{ data.consignee }}</td>
                    <td>电话: </td>
                    <td colspan="3">{{ data.mobile }}</td>
                </tr>
                <tr>
                   	<td>收货地址: </td>
                    <td colspan="5">{{ data.to_addr }} {{ data.address }}</td>
                </tr>
                <tr>
                   	<td>客户留言: </td>
                    <td colspan="5">{{ data.comment }}</td>
                </tr>
                <tr>
                	<td>配送方式: </td>
                    <td colspan="5">{% if data.type==1 %}物流{% elseif data.type==2 %}自己 {% endif %}</td>
                </tr>
				<tr>
                   	<td>结果说明: </td>
                    <td colspan="5"><textarea name="result_comment">{{ data.result_comment }}</textarea></td>
                </tr>
            </tbody>
        </table>
        <input type="hidden" name="id" value="{{data.id}}"/>
        {% if data.order_id > 0%}
            {% if data.need_pay==1 or data.status=='prepay' %}
                <input type="hidden" name="need_pay" value="1"/>
                {% else %}
                <input type="hidden" name="need_pay" value="0"/>
            {% endif %}
        {% else %}
        <input type="hidden" name="need_pay" value="0"/>
        {% endif %}
        <div class="operate-footer scroll-bottom">
        	<button class="btn btn-primary success">已送达</button>
        	<button class="btn btn-danger failure">配送失败</button>
        	<button class="btn btn-warning cancel">作废</button>
            <button class="btn back">返回</button>
            <input type="hidden" name="id" value="{{data.id}}" />
        </div>
    </div>

</div>
{% endblock %}
