{% extends 'admin/admin.html' %}
{% block data %}
<div id="gift-delivery-list" class="well well-small clearfix">
    <div>
        <h3>礼品发放</h3>
    </div>
    <div class="search bb5">
        <form name="form-search" method="post" class="form-inline" action="/admin/gift/delivery/">
            <select name="status" class="span2">
                <option value="">全部</option>
                <option value="preship"{% if search.status and search.status == 'preship' %} selected{% endif %}>未发放</option>
                <option value="shipped"{% if search.status and search.status == 'shipped' %} selected{% endif %}>已发放</option>
            </select>
            <button class="btn btn-primary search">查询</button>
        </form>
    </div>
    <table class="table table-hover table-mob">
    <thead>
        <tr>
            <th width="3%"><input type="checkbox" name="checkall"></th>
			<th width="15%">单号</th>
			<th width="7%">状态</th>
            <th width="15%">礼品</th>
			<th width="35%">收货人信息</th>
			<th width="15%">备注</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
    {% for key, item in data.delivery %}
        <tr>
            <td class="center">
            	{% if search.status =='preship' %}
            	<input type="checkbox" name="delivery[]" value="{{item.id}}">
            	{% endif %}
           	</td>
            <td class="center">{{ item.sn }}</td>
            <td class="center">
				{% if item.status == 'preship' %}<span class="label label-important">未发放</span>
				{% elseif item.status == 'shipped' %}<span class="label label-info">已发放</span>
				{% endif %}
            </td>
            <td class="center">{{ item.gift }}</td>
            <td class="center">
                {{item.to_addr}}{{item.address}}<br>
                {{ item.consignee }} {{ item.mobile }}
            </td>
            <td class="center" title="{{item.remark}}">
	            {{ mb_substr(item.remark, 0, 8,'utf-8') }}<button class="btn btn-link btn-small edit-remark" data-id="{{key}}"><i class="icon-edit "></i></button>
            </td>
            <td class="center">
                <div class="btn-group hide">
	                {% if item.status == 'preship' %}
	                    <a class="btn btn-link btn-small edit" href="/admin/gift/deliveryEdit/?id={{key}}"><i class="icon-edit"></i> 编辑</a>
	                {% endif %}
                </div>
            </td>
        </tr>
    {% else %}
        <tr><td colspan="10"><em> 哎呀， 么有数据，再等一等。</em></td></tr>
    {% endfor %}
    	<tr>
        	<td colspan="10">
        		{% if search.status =='preship' %}
	        	<button class="btn btn-success ship">配送</button>
	        	{% endif %}
        	</td>
        </tr>
    </tbody>
    </table>
    {{pagination|raw}}
    <div id="remarkModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>添加备注</h3>
        </div>
        <div class="modal-body">
            加载中...
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary save">保存</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        </div>
    </div>
	<script type="text/template" id="tpl-remark">
        <div class="form-horizontal">
            <div class="control-group">
				<input type="hidden" name="id" value="<%= data.id %>"/>
                <textarea name="remark"><%= data.remark %></textarea>
            </div>
        </div>
    </script>
</div>
{% endblock %}