{% extends 'admin/admin.html' %}
{% block data %}
<div id="gift-delivery-edit" class="well well-small clearfix">
    <div>
        <h3>礼品发放配送单编辑</h3>
    </div>
    <div>
    	<input type="hidden" name="id" value="{{data.id}}"/>
        <table class="table table-dashed">
            <tbody>
                <tr>
                    <td width="15%">单号: </td>
                    <td width="20%">{{data.sn}}</td>
                    <td width="15%">状态: </td>
                    <td>未发放</td>
                    
                </tr>
                <tr>
                    <td>礼品: </td>
                    <td>{{data.gift}}</td>
                	<td>下单时间: </td>
                    <td>{{data.created | date ('Y-m-d H:i')}}</td>
                </tr>
                <tr>
                    <td>备注: </td>
                    <td colspan="3"><input type="text" name="remark" value="{{data.remark}}" class="span9"></td>
                </tr>
                <tr>
                    <td>收货人: </td>
                    <td><input type="text" name="consignee" value="{{ data.consignee }}"></td>
                    <td>电话: </td>
                    <td><input type="text" name="mobile" value="{{ data.mobile }}"></td>
                </tr>
                <tr>
                   	<td>收货地址: </td>
                    <td colspan="3">
                    	<div id="area"  district='{{data.district}}' city='{{data.city}}' province='{{data.province}}'></div>
                    	<input type="text" name="address" value="{{ data.address }}" class="span7">
                   	</td>
                </tr>
            </tbody>
        </table>
        <div class="operate-footer scroll-bottom">
        	<button class="btn btn-primary save">保存</button>
            <button class="btn back">返回</button>
        </div>

    </div>

</div>
{% endblock %}
