{% extends 'admin/admin.html' %}
{% block data %}
<div id="menu" class="well well-small clearfix">
    <div>
        <h3>菜单管理</h3>
    </div>
    <div class="menu-container clearfix">
        <div class="menu-list operate pull-left">
            {% for key, item in data[0] %}
                <dl>
                    <dt class="inner_menu_item">
                        <span><i class="parent icon-chevron-down" data-id="{{key}}"></i> {{item.name}}</span>
                        <span class="btn-group hide">
                            <button class="btn btn-link btn-small add" data-id="{{key}}" data-name="{{item.name}}"><i class="icon-plus"></i></button>
                            <button class="btn btn-link btn-small edit" data-id="{{key}}"><i class="icon-edit"></i></button>
                            <button class="btn btn-link btn-small sort" data-id="{{key}}"><i class="icon-align-right"></i></button>
                            <button class="btn btn-link btn-small setting" data-id="{{key}}" data-child="{{ data[key]|length }}"><i class="icon-wrench"></i></button>
                            <button class="btn btn-link btn-small del" data-id="{{key}}"><i class="icon-remove"></i></button>
                        </span>
                    </dt>
                    {% for k, v in data[key] %}
                    <dd class="inner_menu_item">
                        <span>{{v.name}}</span>
                        <span class="btn-group hide">
                            <button class="btn btn-link btn-small edit" data-id="{{k}}"><i class="icon-edit"></i></button>
                            <button class="btn btn-link btn-small setting" data-id="{{k}}"><i class="icon-wrench"></i></button>
                            <button class="btn btn-link btn-small del" data-id="{{k}}"><i class="icon-remove"></i></button>
                        </span>
                    </dd>
                    {% endfor %}
                </dl>
            {% else %}
                <tr><td colspan="4"><em> 哎呀， 么有数据，不如添加一条吧.</em></td></tr>
            {% endfor %}
        </div>
        <div id="wechat" class="menu-setting pull-left">
            <div class="header">设置动作</div>
            <div class="menu-action">你可以先添加一个菜单或设置一个菜单，然后开始为其设置响应动作</div>
        </div>
        <script type="text/template" id="tpl-setting">
            <div class="init">
                <p>点击设置公众号做出的相应动作</p>
                <a href="javascript:void(0);" class="message"><i class="icon_menu_action send"></i><strong>发送信息</strong></a> 
                <a href="javascript:void(0);" class="url"><i class="icon_menu_action url"></i><strong>跳转到网页</strong></a>
            </div>
        </script>
        <script type="text/template" id="tpl-link">
            <div class="link">
                <p>点击该子菜单会跳到以下链接</p>
                <p><input type="text" name="link" class="input-xxlarge" value="<%= data.url %>" /></p>
                <p>
                    <button class="btn btn-success span2" name="save">保存</button>
                    <% if (typeof data.url === 'undefined') { %>
                    <button class="btn span2" name="back">返回</button>
                    <% } %>
                </p>
            </div>
        </script>
        <script type="text/template" id="tpl-message">
            <div class="message">
                <div id="wechat" data-type="<%=data.type || 'text' %>" data-id="<%=data.id || '0' %>">
                    <div style="min-height: 280px;">
                    加载中...
                    </div>
                </div>
                <div>
                    <button class="btn span2 btn-small btn-success save" name="save">保存</button>
                    <% if (typeof data.id === 'undefined') { %>
                    <button class="btn span2" name="back">返回</button>
                    <% } %>
                </div>
            </div>
        </script>
    </div>

    <div>
        <button class="btn span2 btn-small btn-success add">新增一级菜单</button>
        <button class="btn span2 btn-small sort">一级菜单排序</button>
        <button class="btn span2 btn-small btn-info publish pull-right">发布</button>
    </div>

    <div id="menuModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>菜单名称</h3>
        </div>
        <div class="modal-body">
            加载中...
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        </div>
    </div>

    <script type="text/template" id="tpl-menu">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <% if (data.id) { %>
            <h3>菜单编辑</h3>
            <% } else { %>
            <h3>新增菜单</h3>
            <% } %>
        </div>
        <div class="modal-body">
            <div class="text-right"> <em><i class="icon-star-empty"></i> 为必填项</em> </div>
            <div class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="inputPid">所属菜单: </label>
                    <div class="controls">
                        <span><%= data.pname || '顶级菜单' %></span>
                    </div>
                    <input type="hidden" name="pid" value="<%= data.pid %>" />
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputName">名称: </label>
                    <div class="controls">
                        <input type="text" id="inputName" name="name" value="<%= data.name %>"/>
                        <i class="icon-star-empty"></i>
                        <br />
                        <em>不多于8个汉字或16个字母</em>
                    </div>
                </div>
                <input type="hidden" name="id" value="<%= data.id %>" />
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary save">保存</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        </div>
    </script>

    <div id="sortModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>菜单排序</h3>
        </div>
        <div class="modal-body">
            加载中...
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary save">保存</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        </div>
    </div>
    <script type="text/template" id="tpl-sort">
        <div class="form-horizontal">
            <% _.each(data, function(item) { %>
            <div class="control-group">
                <label class="control-label" for="p-<%= item.id %>"><%= item.name %>: </label>
                <div class="controls" id="p<%= item.id %>">
                    <input name="sort" value="<%= item.sort %>" data-id="<%= item.id %>" />
                </div>
            </div>
            <% }); %>
        </div>
    </script>
</div>
{% endblock %}
