{% extends 'admin/admin.html' %}
{% block data %}
<div id="order-list" class="well well-small clearfix">
    <div>
        <h3>订单管理</h3>
    </div>
    <div class="search bb5">
        <div class="notice">日期格式为XXXX-XX-XX或者XXXX/XX/XX</div>
        <form name="form-search" method="post" class="form-inline" action="/admin/order/index/">
            <select name="status" class="span2">
                {% for k, v in option.status %}
                <option value="{{k}}" {% if search.status and search.status == k %}selected{% endif %}>{{v}}</option>
                {% endfor %}
            </select>
            <select name="pay_method" class="span2">
                {% for k, v in option.pay_method %}
                <option value="{{k}}" {% if search.pay_method and search.pay_method == k %}selected{% endif %}>{{v}}</option>
                {% endfor %}
            </select>
            <input type="text" name="sn" class="span2" placeholder="订单编号" value="{{search.sn}}"/>
            <input type="text" name="user" class="span2" placeholder="下单人编号" value="{{search.user}}"/>
			<input type="date" name="start_date" class="span2" placeholder="下单日期-开始" value="{{search.start_date}}"/>
			<input type="date" name="end_date" class="span2" placeholder="下单人日期-结束" value="{{search.end_date}}"/>
            <div class="serch-button text-right">
                <button class="btn btn-primary search">查询</button>
                <button class="btn btn-success export" name="export" value="order">导出订单</button>
                <button class="btn btn-info export" name="export" value="refund">导出退款单</button>
            </div>
        </form>
    </div>
    <table class="table table-hover table-mob">
    <thead>
        <tr>
            <th width="5%">#</th>
			<th width="15%">订单编号</th>
			<th width="10%">订单金额</th>
			<th width="20%">下单人</th>
			<th width="15%">下单时间</th>
			<th class="text-info">{% if count_show %}共有{{data.count}}条{% endif %}</th>
        </tr>
    </thead>
    <tbody>
    {% for key, item in data.order %}
        <tr>
            <td class="center">{{loop.index}}</td>
            <td>
                <div>
                    {{item.sn}}
                </div>
                <div> 
                    {% if item.status == 'prepay' %} 
                    <span class="label label-info">待付款</span>
                    {% elseif item.status == 'paid' %} 
                    <span class="label label-success">已付款</span>
                    {% elseif item.status == 'refund' %} 
                    <span class="label label-warning">退款中</span>
                    {% elseif item.status == 'cancel' %} 
                    <span class="label">已作废</span>
                    {% elseif item.status == 'finish' %} 
                    <span class="label label-important">已退款</span>
                    {% endif %}
                    <span>{{item.pay_name}}</span>
                </div>
            </td>
            <td class="center star">&yen;{{item.need_pay / 100|number_format(2, '.', ',')}} 元</td>
            <td class="center">
            	{{item.user_name}} / {{str_pad(item.user_id,7,'0',STR_PAD_LEFT)}} <br/>
                <span class="badge">{{item.user_type}}</span>
			</td>
            <td class="center">{{item.created | date('Y-m-d H:i')}}</td>
            <td>
                <div class="btn-group hide">
                    <button class="btn btn-link btn-small see" data-id="{{key}}"><i class="icon-eye-open"></i> 查看</button>
                {% if item.status == 'prepay' %} {# 新订单 #}
                    <button class="btn btn-link btn-small cls" data-id="{{key}}"><i class="icon-off"></i> 取消</button>
                    {% if item.pay_id == 2 %}
                    <button class="btn btn-link btn-small receive" data-id="{{key}}"><i class="icon-ok-circle"></i> 收款</button>
                    {% endif %}
                {% elseif item.status == 'refund' %}
                    <button class="btn btn-link btn-small refund" data-id="{{key}}"><i class="icon-share-alt"></i> 退款</button>
                {% endif %}
                {% if item.status == 'finish' and not item.refund_history %}
                    <button class="btn btn-link btn-small refund" data-id="{{key}}"><i class="icon-edit"></i> 修改退款信息</button>
                {% endif %}
                </div>
            </td>
        </tr>
    {% else %}
        <tr><td colspan="7"><em> 哎呀， 么有数据，再等一等。</em></td></tr>
    {% endfor %}
    </tbody>
    </table>
	{{pagination|raw}}
</div>
{% endblock %}
