{% extends 'admin/admin.html' %}
{% block data %}
<div id="product-list" class="well well-small clearfix">
    <div>
        <h3>商品管理</h3>
    </div>
    <div class="search bb5">
        <form name="form-search" method="post" class="form-inline">
            <select name="status" class="span2">
                {% for k, v in option.status %}
                <option value="{{k}}"{% if search.status == k %} selected{% endif %}>{{v}}</option>
                {% endfor %}
            </select>
            <input name="name" class="span2" placeholder="商品名称或编码" value="{{search.name}}"/>
            <button class="btn btn-primary search">查询</button>
        </form>
    </div>
    <table class="table table-hover table-mob">
    <thead>
        <tr>
            <th width="5%">#</th>
            <!-- <th width="10%">商品图片</th> -->
            <!-- <th width="10%">二维码</th> -->
            <th width="55%">商品名称</th>
            <th width="10%">价格</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    {% for key, item in data %}
        <tr>
            <td class="center">{{loop.index}}</td>
            <!-- <td class="center">
                {% set pic = json_decode(item.pic, true) %}
                <img src="/assets/upload/{{pic|first}}" class="img-polaroid" />
            </th> -->
            <td>
                <div>{{item.name}}</div>
                <div><i class="icon-barcode"></i> {{item.sn}}</div>
            </td>
            <td class="center">&yen;{{item.price / 100|number_format(2, '.', ',')}} 元/{{item.unit}}</td>
            <td>
                <div class="btn-group hide">
                {% if not item.trashed %}
                    <button class="btn btn-link btn-small edit" data-id="{{key}}"><i class="icon-edit"></i> 编辑</button>
                    {% if not item.on_sale %}
                    <button class="btn btn-link btn-small up" data-id="{{key}}"><i class="icon-arrow-up"></i> 上架</button>
                    {% else %}
                    <button class="btn btn-link btn-small down" data-id="{{key}}"><i class="icon-arrow-down"></i> 下架</button>
                    {% endif %}
                    <button class="btn btn-link btn-small trash" data-id="{{key}}"><i class="icon-trash"></i> 回收站</button>
                {% else %}
                    <button class="btn btn-link btn-small restore" data-id="{{key}}"><i class="icon-share-alt"></i> 恢复</button>
                    <button class="btn btn-link btn-small del" data-id="{{key}}"><i class="icon-remove"></i> 删除</button>
                {% endif %}
                </div>
            </td>
        </tr>
    {% else %}
        <tr><td colspan="4"><em> 哎呀， 么有数据，不如添加一条吧.</em></td></tr>
    {% endfor %}
    </tbody>
    </table>
    <div>
        <button class="btn span2 btn-small btn-success add">新增商品</button>
        <button class="btn span2 btn-small sort">商品排序</button>
    </div>

    <div id="sortModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>商品排序</h3>
        </div>
        <div class="modal-body">
            加载中...
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary save">保存</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        </div>
    </div>
    <script type="text/template" id="tpl-sort">
        <div class="form-horizontal">
            <% _.each(data, function(item) { %>
            <div class="control-group">
                <label class="control-label" for="p-<%= item.id %>"><%= item.name %>: </label>
                <div class="controls" id="p-<%= item.id %>">
                    <input name="sort" value="<%= item.sort %>" data-id="<%= item.id %>" />
                </div>
            </div>
            <% }); %>
        </div>
    </script>
</div>
{% endblock %}
