{% extends 'admin/admin.html' %}

{% block tilte %}
<title>房源管理</title>
{% endblock %}

{% block data %}
<div class="m-b-md"> <h3 class="m-b-none">房源列表</h3> </div>

<section class="panel panel-default">
    <div class="table-responsive">
        <table class="table table-striped b-t b-light" data-ride="datatables">
            <thead>
                <tr>
                    <th>房间</th>
                    <th>户型</th>
                    <th>面积(㎡)</th>
                    <th>单价(元)</th>
                    <th>排序 <a href="javascript:;" class="btn-sort"><i class="fa fa-save"></i></a></th>
                    <th>状态</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</section>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function () {
    $('[data-ride="datatables"]').dataTable({
        "bProcessing": true,
        "language": {
            "url": "/assets/note/js/datatables/zh-cn.json"
        },
        "ajax": {
            "url": "/admin/room/",
            "type": "POST"
        },
        "sDom": "<'row'<'col-sm-6'<'x dataTables_length'>><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
        "sPaginationType": "full_numbers",
        "columns": [
            {
                "mRender": function (data, type, row){ 
                    return row.house + '-' + row.building + '幢-' + row.name + '室';
                }
            },
            {"data": "unit"},
            {"data": "centiare"},
            {"data": "price"},
            {
                "bSortable": false,
                "mRender": function (data, type, row){
                    return '<input type="number" class="col-md-3 v-sort" value="'+row.sort+'" data-id="'+row.id+'">';
                }
            },
            {"data": "status_name"},
            {
                "bSortable": false,
                "mRender": function (data, type, row){ 
                    var html = '<a href="/admin/room/edit/?id='+row.id+'"><i class="fa fa-edit"></i></a>';
                    if (row.status == 0) {
                        html += ' <a href="javascript:;" class="btn-del" data-id="'+row.id+'"><i class="fa fa-trash-o"></i></a>';
                    }
                    return html;
                }
            }
        ],
        "initComplete": function() {
            $("div.x").html('<a href="/admin/room/add/" class="btn btn-s-md btn-primary">新增</a>');
        }
    });

    $("#content").on("click", ".btn-del", function() {
        if (!confirm("确定删除吗?")) {
            return false;
        }

        var data = {
            "id": $(this).attr("data-id")
        };
        $.post("/admin/room/del/", data, function(resp) {
            alert(resp.msg);
            if (resp.code == '200') {
                location.href = location.href;
            }
        }, "json");

        return false;
    });

    $("#content").on("click", ".btn-sort", function() {
        var data = {"id":[], "sort":[]};
        var uint = true;
        $(".v-sort").each(function() {
            data.id.push($(this).attr("data-id"));
            data.sort.push($(this).val());
            if ($(this).val() && parseInt($(this).val()) < 1) {
                uint = false;
            }
        });
        if (data.id.length == 0) {
            return false;
        }
        if (uint == false) {
            alert("排序值需要大于0");
            return false;
        }
        $.post("/admin/room/sort/", data, function(resp) {
            alert(resp.msg);
            if (resp.code == '200') {
                location.href = location.href;
            }
        }, "json");

        return false;
    });

});
</script>
{% endblock %}
