{% extends 'admin/admin.html' %}
{% block data %}
<div id="shiptime-list" class="well well-small clearfix">
    <div>
        <h3>送水时间限制管理</h3>
    </div>
    <div class="search bb5">
        <form name="form-search" method="post" class="form-inline" action="/admin/shiptime/">
            <input type="date" name="date" class="span4" placeholder="XXXX-XX-XX日期后" value="{{search.date}}"/>
            <button class="btn btn-primary search">查询</button>
        </form>
    </div>
    <div>
        <a href="/admin/shiptime/edit/" class="btn span2 btn-small btn-success">新增限制时间</a>
    </div>
    <table class="table table-hover table-mob">
    <thead>
        <tr>
            <th width="5%">#</th>
            <th width="15%">日期</th>
            <th width="60%">备注</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    {% for key, item in data.shiptime %}
        <tr>
            <td class="center">{{loop.index}}</td>
            <td>{{ item.except_date | date('Y-m-d') }} </td>
            <td class="center">{{ item.remark }}</td>
            <td>
                <div class="btn-group hide">
                    <a class="btn btn-link btn-small" href="/admin/shiptime/edit/?id={{key}}"><i class="icon-edit"></i> 编辑</a>
                    <button class="btn btn-link btn-small del" data-id="{{key}}"><i class="icon-remove"></i> 删除</button>
                </div>
            </td>
        </tr>
    {% else %}
        <tr><td colspan="4"><em> 哎呀， 么有数据，不如添加一条吧.</em></td></tr>
    {% endfor %}
    </tbody>
    </table>
    {{pagination|raw}}
</div>
{% endblock %}
